*body {
    margin: 0px;
    width: 1400px;
    overflow: hidden;
}

.main-part-one {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    padding: 0px 4%;
}

.main-part-one-image {
    display: grid;
    grid-template-columns: repeat(2, 342px);
    column-gap: 24px;
    row-gap: 18px;
    padding-right: 73px;
}

.main-part-one-title {
    padding-top: 287px;
}

.main-one-title {
    font-weight: 500;
    font-size: 45px;
    color: #727272;
    padding-bottom: 24px;
}

.main-one-title-2 {
    color: #131313;
}

.main-one-title-3 {
    color: #FF900E;
}

.main-one-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 32px;
}

.main-one-button {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 20px 25px;
    color: #FFFFFF;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    height: 64px;
    width: 180px;
}

.main-one-button:hover {
    color: goldenrod;
    background-color: green;
}


/* main section part two styles */

.main-section-part-two-features {
    margin-top: 30px;
}


.features-title {
    border-left: 4px solid #FF900E;
    margin-left: 3%;
    font-weight: 700;
    font-size: 45px;
}

.features-title-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding: 24px 0px 30px 3%;
}

.features-details {
    border: 1px solid white;
    padding: 30px 42px 30px 30px;
    box-shadow: 2px 2px 2px 2px whitesmoke;
    border-radius: 5px;
    margin-bottom: 20px;
}

.features-details h3 {
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;
}

.features-details p {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.main-section-part-two {
    display: flex;
    justify-content: space-between;
    padding: 130px 3% 0px;
}

.main-section-two-image {
    padding-left: 145px;
}

.main-section-part-two-button {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    padding: 45px 42px;
    color: #FFFFFF;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    position: relative;
    left: 48%;
    top: -160px;
}

.part-two-button {
    font-weight: 700;
    font-size: 65px;
}

.main-section-part-two-button:hover {
    color: goldenrod;
    background-color: green;
}

/* -------------------------------------- main section part three styles ---------------------------------------- */

.main-section-part-three-first-div {
    padding-top: 130px;
}

.part-three-title {
    font-weight: 700;
    font-size: 45px;
    padding: 0px 0px 24px 3%;
}

.part-three-description1 {
    font-weight: 400;
    font-size: 16px;
    padding: 0px 60% 100px 3%;
}

.main-section-three-achievement {
    display: flex;
    justify-content: space-between;
}

.main-three-achievement-div {
    border: 1px solid #FF900E;
    border-radius: 8px;
    margin: 0px 4% 180px;
    text-align: center;
    padding: 45px 36px;
    transition: transform 4s ease-in-out .3s;
}

.main-three-achievement-div:hover {
    transform: rotate(360deg) scale(1.3);
}

.main-three-numbers {
    font-weight: 600;
    font-size: 45px;
}

.main-three-works {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

.main-three-title-2 {
    font-weight: 700;
    font-size: 45px;
    text-align: center;
}

.main-three-description-2 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #FF900E;
    padding: 25px 33% 50px;
}

.main-section-three-last-div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 0px 3%;
    justify-items: center;
    padding-bottom: 130px;
}

/*---------------------- this is my footer styles -------------------------*/

footer {
    background: #FFF4E7;
    border-radius: 8px;
    margin: 0px 3%;
    margin-bottom: 100px;
    margin-top: 100px;
}

.footer-description {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
    padding: 40px 0px;
}

/* contact us extra section styles */

.contact-us{
    background-color: black;
    display: flex;
    justify-content: space-between;
    

}
.contact-us-title, .contact-us-description {
    color: white;
    padding-top: 30px;
    padding-left: 3%;
}
.contact-us h2{
    font-size: 50px;
}
.form-size{
    padding: 10px 35px;
    background-color: whitesmoke;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 220px;
}

.form-submit{
    padding: 10px 35px;
    margin-bottom: 20px;
    margin-top: 10px;
    /* margin-left: 220px; */
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    background-color: #FF900E;
    color: white;
}

.form-submit:hover{
    color:gold;
    background-color: gray;
}

.button-reset{
    display: flex;
    justify-content: space-between;
}
.reset{
    padding: 10px 35px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 220px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}
.reset:hover{
    color: #FFFFFF;
    background-color: red;
}






/*-------------------------------------- this is the responsive section ---------------------------------------*/

@media screen and (max-width:576px) {
    .main-part-one {
        flex-direction: column;
    }

    .main-part-one-image {
        grid-template-columns: repeat(1, 342px);
        justify-content: center;
        margin-left: 65px;
    }

    .main-part-one-title {
        text-align: center;
        padding: 30px 0px;
    }

    .main-section-part-two {
        flex-direction: column;
    }

    .main-section-two-image {
        padding: 50px 0px;
    }

    .main-section-two-image img {
        width: 100%;
    }

    .main-section-part-two-button {
        position: relative;
        top: 30px;
        left: 75px;
        padding: 20px 22px;
    }

    .part-two-button {
        font-size: 50px;
    }

    .main-section-three-achievement {
        flex-direction: column;
        justify-content: center;
    }

    .main-section-part-three-first-div {
        text-align: center;
    }

    .part-three-description1 {
        padding: 20px;
    }

    .main-three-description-2 {
        padding: 20px;
    }
    .main-section-three-last-div{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        padding-top: 20px;
    }
    .contact-us{
        flex-direction: column;
    }
    .form-size, .form-submit{
        margin-left: 10px;
        padding-top: 10px;
        margin-right: 10px;
    }
    #comment{
        width: 75%;
    }
    .name{
        margin-top: 80px;
    }
    .reset{
        margin-left: 10px;
    }

}